<!DOCTYPE html>
<html lang="en">
<head>
    <link type="icon" src="{{url_for('static',filename='images/afro1.webp')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
    section{
        padding:60px 0;
    } 
        
    </style>
</head>
<body class="bg-light">
    <section>
        <div class="container-lg bg-white rounded">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-6 text-md-center">
                    <h1>
                        <div class="display-1 fw-bold">TEDDY OGEGA CHEMOS</div>
                        <div class="display-2 text-muted"><i>AfroTech Samurai</i></div>
                    </h1>
                    <i><p class="text-info">Driving Innovation and Growth in Tech: Seasoned Leader and Strategic Visionary</p></i>
                    <button class="btn btn-info btn-sm" data-bs-toggle="collapse" data-bs-target="#more"><i>MORE</i></button>
                    <div class="text- collapse" id="more">WHO YOU GONNA CALL?!?!</div>
                </div>
                <div class="col-sm-4 col-md-6 d-none d-md-block">
                    <img src="{{url_for('static',filename='images/teddy.jpg')}}" alt="" class="img img-fluid rounded-pill">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid bg-white">
            <p class="display-7 px-5 fw-bold"><i>SOCIALS</i></p>
            <div class="container-lg bg-white justify-content-ce">
                <div class="row">
                    <div class="col-sm-4 mb-4">
                        <a class="text-decoration-none text-info" href="#"><img class="rounded-pill" src="{{url_for('static',filename='images/afro1.webp')}}" width="20px" alt="FACEBOOK">LINKEDIN</a>
                    </div>
                    <div class=" col-sm-4 mb-4">
                        <a class="text-decoration-none text-info" href="#"><img class="rounded-pill" src="{{url_for('static',filename='images/afro1.webp')}}" width="20px" alt="FACEBOOK">GITHUB</a>
                    </div>
                    <div class=" col-sm-4 mb-4">
                        <a class="text-decoration-none text-info" href="#"><img class="rounded-pill" src="{{url_for('static',filename='images/afro1.webp')}}" width="20px" alt="FACEBOOK">INSTAGRAM</a>
                    </div>
                </div>                
            </div>
        </div>
    </footer>
</body>
</html>